.settings__setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i {
    margin-right: 12px;
    font-size: 20px;
    opacity: 0.9;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}

.setting-number {
    background-color: rgba(0, 0, 0, 0.05);
    
}

.setting-number__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.setting-number__btn {
    display: flex;
    justify-content: center;
}

.setting-number__btn button{
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;
    margin: 15px 4px;
    width: 140px;
    height: 29px;

}

.setting-number__text span {
    margin-top: 10px;
}



.user-component .set-num span {
    border:1.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    width: 100px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    
}